@using Notebook.Application.DTOs
@model NoteDto

<h4>New note</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Notes" asp-action="CreateNoteAction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">@nameof(Model.FirstName)</label>
                <input asp-for="FirstName" placeholder="First name" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">@nameof(Model.LastName)</label>
                <input asp-for="LastName" placeholder="Last name" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">@nameof(Model.ThirdName)</label>
                <input asp-for="ThirdName" placeholder="Third name" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">@nameof(Model.PhoneNumber)</label>
                <input asp-for="PhoneNumber" placeholder="+380 12 123 12 34" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">@nameof(Model.Description)</label>
                <input asp-for="Description" placeholder="Simple description" class="form-control" />
            </div>
<h4>Address</h4>
            <div class="form-group">
                <label asp-for="Address.Country" class="control-label">Country</label>
                <input asp-for="Address.Country" class="form-control" />
                <span asp-validation-for="Address.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.City" class="control-label">City</label>
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Street" class="control-label">Street</label>
                <input asp-for="Address.Street" class="form-control" />
                <span asp-validation-for="Address.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Index" class="control-label">Index</label>
                <input asp-for="Address.Index" class="form-control" />
                <span asp-validation-for="Address.Index" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.HouseNumber" class="control-label">HouseNumber</label>
                <input asp-for="Address.HouseNumber" class="form-control" />
                <span asp-validation-for="Address.HouseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="NotesList">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
